.expense{
    color: white;
    background: #B2D3C2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inline{
    color: white;
    background: #B2D3C2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 300%);
}